@import url('../src/styles/variables.css');
.App{
  background-color: #D5DDBC;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#container{
  padding: 0px 40px 0px 40px;
}
#title{
  font-size: var(--font_50);
  color: var(--black);
  text-align: center;
  margin-top: 40px;
}
#paragraph{
  text-align: center;
  margin-top: 30px;
  font-size: var(--font_15);
}
@media screen and (min-width: 394px) {
  #container{
    padding: 0px;
  }
  #paragraph{
    max-width: 1000px;
  }
}